@import "./variables";

.footer-tl {
  background-image: url("../assets/footer-tl-2.svg");
  margin: 2em 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  padding-top: 35.33%;
  background-color: $color-p;
  font-size: 0.9rem;
  .footer-content {
    margin-top: 20%;
    padding-top: 15%;
  }
  .container-ft {
    max-width: 70% !important;
    color: #454545;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 15% !important;
  }
  .cred {
    margin-top: -20% !important;
    background-color: $color-p;
  }
  .foot-a {
    text-decoration: none;
    color: white;
    line-height: 2;
  }
  .white-font {
    color: white !important;
  }
  .logo-footer {
    width: 12rem;
  }
  a {
    font-size: 0.9rem;
  }
  button {
    background: #ffffff;
    border-radius: 7px;
    width: 60%;
    text-align: left;
    box-shadow: 0px 32px 40px rgba(30, 49, 71, 0.204409);
    border: none;
  }

  &--subMenu {
    list-style: none;
    color: white;
    margin-left: -30px;
    &-link {
      margin-top: 10px;
    }
  }

  a {
    color: white !important;
  }
  &--copy {
    color: white !important;
    font-size: 10px;
  }
}

#language-switcher {
  button {
    width: unset;
  }
  a {
    text-align: center;
    color: $color-p !important;
    cursor: pointer;
    font-weight: 700;
    line-height: 1.5;
    &:hover {
      opacity: 0.8;
    }
  }
  .dropdown-menu {
    padding: 0.5rem 0 !important;
  }
}
