@import './variables';

.basicSection {
  &--sub {
    font-size: 20px;
    line-height: 28px;
  }

  &--text {
    font-size: 20px;
    line-height: 35px;
    text-align: justify;
    color: $color-gl;
  }
}
