// style for DIV with quotation marks and quote text

.testimonial-quote {
    img {
        width: 7.5em;
        height: 3em;
    }

    p {
        font-size: 1.8em;
    }
}

@media (max-width: 768px) {
    .testimonial-quote {
        img {
            width: 7.5em;
            height: 2.5em;
        }
    
        p {
            font-size: 1.5em;
        }
    }
}

@media (max-width: 576px) {
    .testimonial-quote {
        img {
            width: 2em;
            height: 1.5em;
        }
    
        p {
            font-size: 1em;
            margin-right: 1rem;
        }
    }
}


// style for DIV with Testimonial avatar

.testimonial-info {
    > img {
        max-height: 4.5rem;
        margin-left: 1em;
    }
}