@import "../variables";

.joinCommunity {
  &--card {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    border: 0px solid !important;
    padding: 1.5em;
    z-index: 10;
    position: relative;
    top: -30%;
    left: 50%;
    max-width: 50%;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  &--card:hover {
    -webkit-transform: translate(0, -0.5em);
    -moz-transform: translate(0, -0.5em);
    -o-transform: translate(0, -0.5em);
    -ms-transform: translate(0, -0.5em);
    transform: translate(0, -0.5em) scale(1.01);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  &--link {
    color: black;
  }

  &--link:hover {
    color: $color-p;
  }

  // Small devices (landscape phones, 576px and up)
  @media (max-width: 576px) {
    &--card {
      max-width: 90%;
      top: -10%;
      left: 10%;
    }
    &--slack {
      width: 90%;
    }
    &--heading {
      font-size: 17px;
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    &--slack {
      width: 90%;
    }
    &--heading {
      font-size: 22px;
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    &--slack {
      width: 70%;
    }
    &--heading {
      font-size: 40px;
    }
  }
}
