@import "../variables";

.team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  >* {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1.5rem auto;
  }
  :nth-child(4) {
    flex-grow: 1;
  }
  &--name {
    font-size: 25px;
    line-height: 29px;
  }
  .get-in-contact {
    margin-top: 1.5rem;
  }
}
