@import "./variables";

.notFound {
  &--number {
    font-size: 12rem;
    animation: fadeIn .8s ease-in;
  }

  &--dot {
    margin-left: 1rem;
  }

  p {
    font-size: 2rem;
    animation: fadeIn .8s ease-in;
  }

  &--definition{
    animation: fadeIn .8s ease-in;
    animation: fadeIn .5s ease-in;
  }
}
