.blog--card {
  background: #ffffff;
  box-shadow: 0 32px 40px -16px rgba(30, 49, 71, 0.2);
  border-radius: 7px;
  border: 0px solid;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  transform-origin: bottom;
  min-height: 200px;
}
