@import "./variables";

.coreValues {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;

  &:before {
    border-radius: 50%;
    width: 100%;
    padding-bottom: 100%;
    background: linear-gradient(
      270deg,
      rgba(251, 29, 92, 0.3) 0%,
      rgba(196, 196, 196, 0) 102.23%
    );
    content: "";
    position: absolute;
    z-index: -1;
  }
  &--heading {
    font-size: 50px;
    line-height: 102px;
    span {
      text-decoration: underline;
      text-decoration-color: $color-p;
    }
  }

  &--mobil {
    background: linear-gradient(
      270deg,
      rgba(251, 29, 92, 0.3) 0%,
      rgba(196, 196, 196, 0) 102.23%
    );
    width: 100%;
    clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
    padding: 50px 0px 50px;
  }
}
