@import "./variables";

.datesCalendar {
  &--dates_active {
    & h3 {
      color: $color-p;
      text-align: center;
      transition: all .1s ease;
    }
  }

  &--dates {
    & h3 {
      color: $color-gl;
      font-size: 20px;
      text-align: center;
      margin-top: 5px;
    }
  }

  &--day {
    background-color: $color-background;
    padding: 10px;
    border-radius: 7px;
    text-align: center;
    color: $color-p;
    font-size: 28px !important;
    font-weight: bolder;
    margin: 0 5px;
  }

  &--threeLetterDate{
    letter-spacing: 4px;
    font-weight: lighter;
  }
}
