@import "./variables";

.foundYourOwn {
  &-hero {
    min-height: 55vh;
    margin-top: 10vh;
  }
  &--heading {
    line-height: 72px;
    font-size: 48px;
  }

  &--highlight {
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
    background-color: #fee9ef;
    color: $color-p;
  }

  &--subtitle {
    font-size: 30px;
    font-weight: bold;
  }
  &--list {
    color: black;
    font-size: 20px;
    li {
      list-style-image: url("../assets/check-mark.png");
    }
  }
  &--cta {
    font-weight: bold;
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
    background-color: #fee9ef;
    color: $color-p;
    width: 80%;
    text-align: center;
    &-first {
      font-size: 30px;
      font-weight: bold;
      background-color: $color-p;
      color: white !important;
      width: 70%;
      text-align: center;
      margin-top: 10px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.204409);
      border-radius: 5px;
      font-size: 20px;
      line-height: 24px;
      padding: 1.3rem 1rem;
    }
  }

  &--card-text {
    font-size: 20px;
    line-height: 28px;
    color: #8b9fa8;
    text-align: justify;
    span {
      font-weight: bolder;
      color: #797d7f;
    }
  }

  &--last {
    font-weight: bold;
    font-size: 40px;
    line-height: 72px;
  }

  &--cards {
    .card {
      padding: 0 !important;
    }
  }

  &--quote {
    min-height: 50vh;
    padding-top: 5%;
    .rightArrow {
      margin-top: 30%;
      margin-left: -40%;
    }
  }

  &--faq {
    height: 80vh;
  }
}
