.location-hero-ms {
  background-image: url("../assets/location-ms-hero.jpg");
  position: relative;
  height: 95vh;
  background-size: center;
  background-position: 50% !important;
  background-repeat: no-repeat;
  max-width: 2000px !important;
  margin: 0 auto;
}

.muenster {

}
