.location-hero {
    position: relative;
    height: 700px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    max-width: 1300px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 5px 25px -5px rgba(15, 18, 63, 0.2);
}

// .location-hero:after {
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     background: linear-gradient(180deg,rgba(0,0,0,.05),rgba(0,0,0,.2) 90%);
//     z-index: 0;
//     border-radius: 8px;
// }

.location-card {
    z-index: 1;
    position: absolute;
    bottom: 0px;
   margin-bottom: 0px !important;
   box-shadow: 0 5px 25px -5px rgba(15, 18, 63, 0)!important;
   background-color: #ffffff;
   padding-left: 6rem !important;
   padding-top: 2rem !important;
}

.btn-link {
    white-space:normal !important; 
    word-wrap: break-word
}

.card-title {
    font-size: 1.25rem;
}

.location-title {
    font-size: 3rem;
}

.batch-text {
    margin-bottom: 1.8rem !important;
}