//Normalize
@import "~@csstools/normalize.css";

// Utilities
@import "./variables";
@import "./animations";

//styling for the components
@import "./program/programmHero";
@import "./program/learn";
@import "./shared/basicSection";
@import "./landingpage/partner";
@import "./program/projects";
@import "./shared/callToAction";
@import "./foundYourOwn/firstImpression";
@import "./landingpage/slider";
@import "./program/whatWeOffer";
@import "./shared/keyBenefits";
@import "./program/academy";
@import "./program/threeComponents";
@import "./applyPage/process";
@import "./locations/team";
@import "./locations/news";
@import "./locations/follow";
@import "./locations/joinTheTeam";
@import "./layout/mobileNav";
@import "./locations/location";
@import "./landingpage/partnerLogos";
@import "./shared/faq";
@import "./applyPage/applicationHero";
@import "./applyPage/requirements";
@import "./applyPage/applicationProcess";
@import "./locations/dates";
@import "./applyPage/chooseCity";
@import "./locations/joinCommunity";
@import "./program/coreValues";
@import "./locations/datesCalendar";
@import "./program/table";
@import "./layout/footer";
@import "./foundYourOwn/foundYourOwn";
@import "./locations/partnerLogos";
@import "./program/newsletter";
@import "./shared/testimonial";
@import "./shared/tooltip";
@import "./program/remote/hero";
@import "./program/remote/keyFacts";
@import "./talks/talk";

h1,
h2,
h3,
h5,
h6 {
  @include heading;
}

body {
  @include paragraph;
  font-size: 17px !important;
}

.subheadline {
  font-size: 20px;
  margin-bottom: 20px;
}

.a-white {
  color: white !important;
}

.a-black {
  color: $color-g;
}

.next-link:after {
  content: "\226B";
  position: relative;
  left: 5px;
}

.a-black:hover,
.a-white:hover {
  text-decoration: none;
}

.tl-logo {
  height: 40px;
}

.navbar-add {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}

.track-logo {
  width: 25px;
  height: 25px;
}

.navbar {
  font-size: 17px !important;
  font-family: $font-p;
}

.nav-item {
  display: table;
  margin: auto;
}

.dropdown-item:active {
  background-color: white !important;
  color: $color-p;
}

.headroom {
  box-shadow: 0 5px 25px -5px rgba(15, 18, 63, 0.15) !important;
  background-color: #ffffff !important;
  z-index: 100 !important;
}

.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(0%);
  width: 100%;
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
  width: 100%;
}

.text-bold {
  font-weight: bolder;
}

.text-bold-pink {
  color: $color-p;
  font-weight: bolder;
}

//dropdown
.dropdown:hover > .dropdown-menu {
  display: block;
}

[role="button"]:focus {
  outline: none;
}

.dropdown-menu {
  margin: 0 !important;
  padding: 0 !important;
  border: 0px !important;
  box-shadow: 0 5px 25px -5px rgba(15, 18, 63, 0.2);
  left: 10px;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.background {
  background-size: cover;
  height: 35vh;
}

.dropdown-item {
  font-size: 15px !important;
}

.color-red {
  color: $color-p;
}

.color-gl {
  color: $color-gl;
}

.no-cursor {
  cursor: none !important;
}

.heading--grey {
  color: $color-gl;
}

.color-black {
  color: black !important;
}

.dropdown-item-corr {
  padding: 1rem 2rem 1rem 2rem !important;
}

.navbar-brand {
  display: flex !important;
}

.dropdown-menu {
  animation: dropdown-fade 0.25s ease-in-out;
  transform-origin: top;
}

.padding-location {
  padding-bottom: 11rem !important;
}

.mobile {
  height: 80vh;
}

.lh-90 {
  line-height: 90px;
}

//nav announcement that we hire
.hire-button {
  padding: 8px 10px 6px 10px;
  border: 1.3px solid $color-p;
  color: $color-p;
  border-radius: 7px;
  font-size: 14px;
  height: 100%;
  margin: auto 20px;
  font-family: $font-p;
  text-decoration: none;
  //display: none;
}

.hire-button:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  color: white !important;
  background-color: $color-p;
  perspective: 1000px;
  text-decoration: none;
}

.container-fluid {
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.nav-loc-icon {
  max-height: 60px;
  max-width: 60px;
  margin-right: 0.3rem;
}

.arrow {
  width: 13px;
  opacity: 0.7;
}

.center {
  display: table;
  margin: 0 auto;
  text-align: center !important;
}

.no-btn-style {
  box-shadow: none !important;
  background-color: none;
  width: 100% !important;
  cursor: pointer;
}

.promo {
  font-size: 16px;
  padding-bottom: 1.7rem !important;
  padding-top: 1.7rem !important;
  background: linear-gradient(
    90.01deg,
    rgba(251, 29, 92, 0.69) -0.55%,
    $color-p 100%
  );
  font-family: $font-pp;
  position: relative;
  width: 100%;
  top: 0px;
  z-index: 500;
  color: white;
  &-close {
    cursor: pointer;
  }
}

.slack-icon {
  width: 30px;
}

.btn-slack {
  height: 46px !important;
  width: 46px !important;
  border-radius: 100px;
  background: #ffffff;
  border: 0;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
}

.btn-slack:hover {
  transform: scale(1.11);
  cursor: pointer;
}

.btn-slack:focus {
  outline: none;
}

.partner-palette {
  box-shadow: 0 15px 40px -13px rgba(15, 18, 63, 0.2) !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  border-radius: 8px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.navLink--active {
  color: $color-p;
}

.navLink--active_mobil {
  color: $color-gl;
}

.gic {
  padding-bottom: 0.5rem !important;
  padding-top: 6.5rem !important;
}

.padding-top-1 {
  padding-top: 1rem !important;
}

.gic-badge {
  max-height: 25px;
  max-width: 100%;
}

.partner-logo {
  max-height: 150px;
}

.trusted {
  font-size: 17px;
  margin-bottom: 0px !important;
}

.aNone {
  color: black;
}

.aNone:hover {
  color: black;
  text-decoration: none;
}

.nav-button {
  font-weight: bolder;
  padding-left: 2em !important;
  padding-right: 2em !important;
  padding-top: 0.6em !important;
  padding-bottom: 0.6em !important;
  margin-right: 1.5rem;
  background: $color-p;
  border-radius: 5px;
  color: white !important;
}

.nav-button:hover {
  text-decoration: none;
  background: #FA4B7A !important;
  transition: all 0.4s ease 0s;
}

@media (max-width: 767px) {
  .trusted {
    margin-top: 3rem !important;
  }

  .nav-link {
    margin-top: 1.8rem;
  }
}

@media (min-width: 992px) {
  .xs-margin-left {
    padding-left: 50px;
  }
}

.margin-top-15 {
  margin-top: 1.5rem !important;
}

.margin-bottom-2 {
  margin-bottom: 2rem !important;
}

.padding-top-15 {
  padding-top: 1.5rem !important;
}

.xs-margin-right {
  padding-right: 50px;
}

.trusted2 {
  font-family: $font-p;
  font-size: 17px;
  margin-bottom: 0px !important;
}

.headroom-wrapper {
  height: 100% !important;
}

.btn {
  @include heading;
  font-size: 17px !important;
  padding-left: 2.4em !important;
  padding-right: 2.4em !important;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  margin-right: 1.5rem;
}

.btn:focus {
  outline: none;
}

.btn-primary {
  background: $color-p;
  box-shadow: 0 10px 30px -15px rgba(30, 49, 71, 0.66);
  border-radius: 5px;
  border: 0px solid !important;
  transition: 0.3s ease-in-out !important;
}

.btn-primary:hover {
  background: #FA4B7A !important;
}

.btn-secondary {
  background: #ffffff !important;
  color: $color-p;
  box-shadow: 0 10px 30px -15px rgba(30, 49, 71, 0.5);
  border-radius: 5px;
  border: 0px solid !important;
  transition: 0.3s ease-in-out !important;
}

.btn:hover {
  transform: scale(1.11) !important;
}

.btn-secondary:hover {
  transform: scale(1.11);
  background: #ffffff !important;
}

.hashtag {
  color: $color-g;
  background: #fff19b;
  padding: 2px 2px 2px;
  border-radius: 5px;
  font-family: $font-pp;
}

.no-margin-block {
  margin-block-start: 0px !important;
  margin-block-end: 0px !important;
}

.bg-light {
  background-color: #ffffff !important;
}

.card {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  border: 0px solid !important;
  padding: 2em;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  transform-origin: bottom;
}

.card:hover {
  -webkit-transform: translate(0, -0.5em);
  -moz-transform: translate(0, -0.5em);
  -o-transform: translate(0, -0.5em);
  -ms-transform: translate(0, -0.5em);
  transform: translate(0, -0.5em);
  cursor: pointer;
}

.index--lead {
  font-size: 22px;
  line-height: 35px;
  color: $color-gl;
}

.card-a {
  text-decoration: none !important;
  color: $color-g;
}

.card-discover {
  color: $color-p;
  font-family: $font-pp;
  margin-top: 1rem;
}

.card-title {
  font-size: 4rem;
  line-height: 60px;
  color: $color-p;
  margin-top: 1rem;
}

.card-title-black {
  font-weight: bold;
  font-size: 40px;
  line-height: 72px;
  color: #303030;
  margin-top: 1rem;
}

.card-subtitle {
  font-family: $font-pp;
  margin-bottom: 1.5rem;
}

.card-subtitle-grey {
  font-family: $font-pp;
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 25px;
  line-height: 31px;
  color: #979797;
}

.card-leftArrow {
  transform: rotate(180deg);
  margin-right: 20px;
  width: 15%;
}

.card-rightArrow {
  width: 15%;
  margin-right: 2%;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.center-me {
  display: table !important;
  margin: auto 0 !important;
}

.center-padding {
  display: table !important;
  padding: auto 0 !important;
}

.section-title {
  font-size: 3.5rem;
  margin-bottom: 0px;
}

.section-divider {
  height: 0.6rem;
  width: 5.5rem;
  background-color: $color-p;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section-divider_mobil {
  height: 0.3rem;
  width: 2.5rem;
  background-color: $color-p;
  margin-bottom: 0.8rem;
}

.section-divider-white {
  height: 0.3rem;
  width: 3.5rem;
  background-color: white;
  margin-bottom: 1rem;
}

.display-4 {
  font-size: 54px !important;
  margin-bottom: 0.3rem;
}

.highlighted {
  font-weight: bold;
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  background-color: #fee9ef;
  color: $color-p;
  width: 80%;
  text-align: center;
  border-radius: 6px;
}

.noDec:hover {
  text-decoration: none;
}

.dropdown-select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  border: none;
  padding: 0.6em 1.4em 0.5em 0.8em;
  background-image: url("../assets/shared/arrow-down.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.img-shadow {
  box-shadow: 0 32px 40px -16px rgba(30, 49, 71, 0.2);
  border-radius: 8px;
}

.story-text {
  padding-bottom: 0 !important;
  padding-left: 6em;
}

.margin-bottom-8 {
  margin-bottom: 8rem;
}

.margin-bottom-4 {
  margin-bottom: 4rem;
}

.margin-top-bot {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.margin-top-4 {
  margin-top: 4rem;
}

.color-gl {
  color: $color-gl !important;
}

.padding-bottom-4 {
  padding-bottom: 4rem !important;
}

.padding-top-4 {
  padding-top: 4rem !important;
}

.max-lengther {
  max-width: 500px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.zoom-in {
  animation: zoom 6s ease-in-out infinite alternate;
  -webkit-animation: zoom 6s ease-in-out infinite alternate;
}

.zoom-in-left-bottom {
  animation: zoom 6s ease-in-out infinite alternate;
  -webkit-animation: zoom 6s ease-in-out infinite alternate;
  transform-origin: left bottom;
}

.zoom-in-right-bottom {
  animation: zoom 6s ease-in-out infinite alternate;
  -webkit-animation: zoom 6s ease-in-out infinite alternate;
  transform-origin: right bottom;
}

.zoom-in-left-top {
  animation: zoom 6s ease-in-out infinite alternate;
  -webkit-animation: zoom 6s ease-in-out infinite alternate;
  transform-origin: left top;
}

.zoom-outer {
  overflow: hidden;
  border-radius: 8px;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  margin-left: 15px;
  margin-right: 15px;
}
.review {
  color: rgb(76, 76, 254) !important;
}

.testimonial-card {
  background: #ffffff;
  box-shadow: 0 32px 40px -16px rgba(30, 49, 71, 0.2);
  border-radius: 7px;
  border: 0px solid;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  transform-origin: bottom;
  min-height: 600px;
}

.carousel-enter {
  opacity: 0;
}
.carousel-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.carousel-exit {
  opacity: 1;
}
.carousel-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
