// Utilities
@import "./variables";


body {
    color: $color-p;
    font-family: $font-h;
}

.tl-logo {
    height: 20px;
}

.navbar-add {
    max-width: 1140px;
    min-height: 80px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
}
