@import "./variables";

.mobileNav {
  height: 80vh;
  &--link {
    color: $color-p;
  }
  &--subMenu {
    list-style: none;
    font-size: 20px;
    text-align: left;
    font-weight: 700;
  }

  &--icon {
    width: 30%;
  }
  &--chevron {
    transform: rotate(-90deg);
    &-rotate {
        
    }
  }
}
