@import "./variables";
@import "./animations";

.partner {
  &--quote {
    font-size: 30px;
    line-height: 37px;
    margin-left: 5%;
    &-sign {
      transform: rotate(180deg);
    }
  }

  &--person {
    line-height: 26px;
    margin-top: 4%;
  }

  &--name {
    font-size: 22px;
  }

  &--role {
    color: $color-gl;
    font-size: 18px;
  }
}

.partners{
  min-height: 40vh;
}