@import "./variables";

.programmHero {
  &--hero {
    min-height: 60vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    width: 100vw;
  }

  &--heading {
    font-weight: 500;
    font-size: 75px;
    line-height: 85px;
    color: #fb1d5c !important;
    width: 40%;
  }

  

  &--highlighted {
    &-first {
      background-color: $color-background;
      width: 55%;
    }
    &-second {
      color: black;
    }
  }

  &--intro {
    font-size: 20px;
    line-height: 35px;
    /* or 175% */
    width: 90%;
    text-align: justify;
    color: #8b9fa8;
  }

  &--card{
      margin-top: 60%;
      &-heading-small{
        font-size: 30px;
      }
      &-heading-second{
        font-size: 18px;
        font-weight: bold;
        color: $color-p;
      }
      p{
        color: $color-gl;
      }
  }

  @media (max-width: 767px){
    &--heading{
      font-size: 45px;
      line-height: 55px;
    }

    &--intro{
      width: 100%;
    }

    &--card{
      margin-top: 10%;
      margin-bottom: 20%;
    }
  }

  @media (max-width: 960px) {
    &--card{
      margin-top: 10%;
      margin-bottom: 20%;
    }
  }
}
