@import "./variables";

.process {
  &--title {
    font-size: 25px;
    line-height: 72px;
    &-number {
      font-size: 40px;
      line-height: 72px;
    }
  }

  &--text {
    font-size: 20px;
    line-height: 28px;
    color: $color-gl;
    &-mobil {
      color: $color-gl;
    }
  }

  &--h4 {
    color: $color-p;
  }
}
