@import "./variables";

.programmHero {
  &--hero {
    min-height: 60vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100vw;
    width: 100vw;
  }

  &--heading {
    font-weight: 500;
    font-size: 75px;
    line-height: 85px;
    color: #fb1d5c !important;
    width: 40%;
  }

  &--highlighted {
    &-first {
      background-color: $color-background;
      width: 55%;
    }
    &-second {
      color: black;
    }
  }

  &--intro {
    margin-top: 20%;
    font-size: 20px;
    line-height: 35px;
    /* or 175% */
    text-align: justify;
    width: 80%;
    color: #8b9fa8;
  }

  &--card{
      margin-top: 60%;
  }

  @media (max-width: 767px){
    &--heading{
      font-size: 55px;
      line-height: 65px;
    }
  }
}
