//colors
$color-p: #FB1D5C !important;
$color-g: #303030 !important;

//fonts
@font-face {
    font-family: "Proxima Nova Regular";
    src: url("/src/assets/Proxima-nova-reg.otf") format("otf");
  }

@font-face {
    font-family: "Gilroy Extrabold";
    src: url("/src/assets/Gilroy-ExtraBold.otf") format("otf");
  }

$font-h: "Gilroy Extrabold" !important;
$font-p: "Proxima Nova Regular" !important;