@font-face {
  font-family: "Livvic-Light";
  src: local("Livvic"), url("../assets/fonts/Livvic/Livvic-Light.ttf");
}
@font-face {
  font-family: "Livvic-Bold";
  src: local("Livvic"), url("../assets/fonts/Livvic/Livvic-Bold.ttf");
}

//colors
$color-p: #fa1e5a !important;
$color-g: #464646 !important;
$color-gl: #464646 !important;
$color-background: #f7f7fb;
$pink-background: #fee9ef;

$font-h: "Livvic", sans-serif !important;
$font-p: "Livvic", sans-serif !important;
$font-pp: "Livvic", sans-serif !important;

@mixin heading {
  font-family: "Livvic-Bold", sans-serif !important;
  font-weight: 700 !important;
}

@mixin paragraph {
  font-family: "Livvic-Light", sans-serif !important;
  font-weight: 300 !important;
}

// breakpoints
$xs: 576px;
