//colors
$color-p: #fb1d5c !important;
$color-g: #303030 !important;

//fonts
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("/src/assets/ProximaNova-Regular.otf") format("otf");
}

@font-face {
  font-family: "Gilroy-Extrabold";
  src: url("/src/assets/webfonts/3978CF_0_0.eot");
  src: url("webfonts/3978CF_0_0.eot?#iefix") format("embedded-opentype"),
    url("/src/assets/webfonts/3978CF_0_0.woff2") format("woff2"),
    url("/src/assets/webfonts/3978CF_0_0.woff") format("woff"),
    url("/src/assets/webfonts/3978CF_0_0.ttf") format("truetype");
}




$font-h: "Gilroy-Extrabold" !important;
$font-p: "ProximaNova-Regular" !important;
