@import "./variables";

.whatWeOffer {
  &--text {
    font-size: 22px;
    line-height: 37px;
    color: $color-gl;
  }

  &--quote {
    font-size: 26px;
    line-height: 37px;
  }

  &--nils {
    font-size: 22px;
    line-height: 25px;
    &-color {
      color: $color-gl;
    }
  }

  &--lastLine {
    font-size: 22px;
    line-height: 31px;
  }
}
