@import "../variables";

.talks-card {
  box-shadow: 10px 5px 25px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  margin: 1.3rem;
  min-height: 15rem;
  background-color: #fff;
  position: relative;
  transition: all .2s ease-in-out;

  .talks-card-play-symbol {
    position: absolute;
    top: 28%;
    right: 41%;
    z-index: 1;
    @media (max-width: $xs) {
      right: 43%;
    }
  }

  .talks-card-img {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 11rem;
      margin-top: 1.5rem;
      filter: opacity(60%);
    }
  }

  .talks-card-bottom {
    background-color: $color-p;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    > * {
      padding: 0 0.8rem;
    }
    h1 {
      font-size: 1.2rem;
      line-height: 0.8rem;
      padding-top: 1.1rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
  &:hover {
    transform: scale(1.1);
  }
}
