@import "../variables";

.projects {
  &--heading {
    font-size: 25px;
    line-height: 31px;
    color: $color-p;
    text-align: center;
  }

  &--highlighted {
    background-color: $color-background;
  }

  &--text {
    font-size: 20px;
    line-height: 28px;
    color: $color-gl;
  }

  &--img {
    width: 100%;
    height: 200px;
  }
  &--btn {
    background: linear-gradient(354.22deg, #fb1d5c -97.93%, #fb1d5c 118.4%);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.204409);
    border-radius: 5px;
    padding: 1.2rem 1rem;
    color: white !important;
    font-size: 20px;
    text-decoration: none;
  }
}
