@import "../variables";

.programmHero {
  &--hero {
    min-height: 60vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
  }

  &--heading {
    font-weight: 500;
    font-size: 54px;
    line-height: 75px;
    color: $color-p;
    width: 80%;
    &-mobil {
      width: 70%;
    }
  }

  &--highlighted {
    &-first {
      background-color: $color-background;
      width: 55%;
      &-mobil {
        width: 55%;
        line-height: 1.5;
        font-weight: bold;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: #fee9ef;
        color: #fa1e5a;
        text-align: center;
        border-radius: 6px;
      }
    }
    &-second {
      color: black;
      &-mobil {
        width: 55%;
        line-height: 1.5;
        font-weight: bold;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: #fee9ef;
        text-align: center;
        border-radius: 6px;
        margin-top: 20px;
      }
    }
  }

  &--intro {
    font-size: 20px;
    line-height: 35px;
    /* or 175% */
    width: 70%;
    text-align: justify;
    color: $color-gl;
    margin-top: 5%;
    &-second {
      font-size: 20px;
      line-height: 35px;
      /* or 175% */
      width: 70%;
      text-align: justify;
      color: $color-gl;
      margin-top: 5%;
    }
  }

  &--card {
    margin-top: 60%;
    &-heading-small {
      font-size: 30px;
    }
    &-heading-second {
      font-size: 18px;
      font-weight: bold;
      color: $color-p;
    }
    p {
      color: $color-gl;
    }
    &-title_mobil {
      font-size: 15px;
    }

    &-subtitle_mobil {
      font-size: 12px;
    }
    &_mobil {
      background: #ffffff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 7px;
      border: 0px solid;
      padding: 0.5em;
    }
  }

  @media (max-width: 767px) {
    &--heading {
      font-size: 54px;
      line-height: 75px;
    }

    &--intro {
      width: 100%;
    }

    &--card {
      margin-top: 10%;
      margin-bottom: 20%;
    }
  }

  @media (max-width: 960px) {
    &--card {
      margin-top: 10%;
      margin-bottom: 20%;
    }

    &--intro {
      margin-top: 0;
    }
  }
}
