@import "../variables";

.c-applicationHero {
  &__heading {
    font-size: 54px;
    color: $color-p;
    margin-top: 70px;
    margin-bottom: 32px;
  }

  &__subheading {
    font-weight: bold;
    font-size: 26px;
  }
}
