@import "../variables";

.c-explainer{
    margin: 50px 0px;
    &__circle {
        min-width: 60px;
        min-height: 60px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-p;
        font-weight: bold;
        font-size: 32px;
        color: #fff;

        &--background {
            position: absolute;
            width: 75px;
            height: 75px;
            background-color: rgba(251, 29, 92, 0.2);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            border-radius: 100%;
        }
    }

    &__layout {
        display: grid;
        grid-template-columns: repeat(11, 9%);
        margin: auto;
    }

    &__text {
        text-align: center;
        margin-top: 35px;
        &--one {
            grid-column: 1 / 4;
        }
        &--two {
            grid-column: 5 / 8;
        }
        &--three {
            grid-column: 9 / 12;
        }
        > h5 {
            color: $color-p;
        }
    }

    &__line {
        display: flex;
        justify-content: stretch;
        align-items: center;
        width: 100%;
        grid-column: span 3;
        &--connector {
            height: 1px;
            width: 100%;
            background-color: rgba(139, 159, 168, 0.4);
        }
    }

    &__number {
        position: relative;
        display: flex;
        justify-content: center;
        &--one {
            grid-column: 2;
        }
        &--two {
            grid-column:  6;
        }
        &--three {
            grid-column:  10;
        }
    }
}