@import "../variables";

.requirements {
  &--list {
    list-style: none;
    counter-reset: li;
    &_item::before {
      content: counter(li);
      font-size: 30px;
      line-height: 28px;
      display: inline-block;
      width: 1em;
      margin-left: -1.5em;
      text-align: center;
      font-weight: bold;
      font-family: $font-h;
    }
    &_item {
      counter-increment: li;
    }
  }

  &--text_first {
    font-size: 20px;
    line-height: 28px;
    font-family: $font-h;
  }
}
